body{
    margin: 0;
    padding: 0;
}

:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

.header h1{
    text-align: center;
    padding: 1rem;
    margin: 2rem;
}

.board{
    display: grid;
    width: 100vw;
    height: 306px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    cursor: pointer;
}

.cell{
    height: var(--cell-size);
    width: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cell.x::before,
.cell.x::after{
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: black;
}

.cell.x::before{
    transform: rotate(45deg);
}

.cell.x::after{
    transform: rotate(-45deg);
}


.cell.circle::before,
.cell.circle::after{
    content: '';
    position: absolute;
    background-color: black;
    border-radius: 50%;
}

.cell.circle::before{
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after{
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}

.winning-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button{
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em, .5em;
    cursor: pointer;
}

.winning-message button:hover{
    background-color: black;
    border-color: white;
    color: white;
}

.winning-message.show{
    display: flex;
}